
body {
    background-color: var(--primary-color);
}

.title h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
}

.title h1 span {
    color: var(--secondary-color);
}

.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: 5rem;
    color: #CACACA;
}

.historia__banner img {
    width: 90%;
}

.historia__texto {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 1.5rem;
}

.historia__texto h2 {
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.historia__texto p {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 600;
}

.empresas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9rem;
    gap: 6rem;
    width: 100%;
    background: linear-gradient(0deg, rgb(0, 200, 215, 1), rgb(255, 255, 255, 0));
}

.empresas__texto {
    color: white;
    text-align: center;
}

.empresas__icones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.empresas__icones img {
    width: 30%;
}

@media screen and (max-width: 1220px) {
    .title {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 0rem;
    }
    
    .title h1 {
        font-size: 2rem;
    }

    .historia {
        flex-direction: column-reverse;
        text-align: center;
        gap: 3rem;
        margin: 1rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .historia h2 {
        font-size: 1.5rem;
    }

    .historia__banner img {
        width: 80%;
    }

    .historia__texto {
        max-width: 90%;
    }

    .empresas {
        padding: 3rem;
        padding-bottom: 8rem;
        padding-top: 1rem;
        gap: 4rem;
    }

    .empresas__texto {
        font-size: 0.8rem;
    }
}
