
body {
    background-color: var(--primary-color);
}

.title h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}

.title h1 span {
    color: var(--secondary-color);
}

.cards {
    display: flex;
    justify-content: center;
    margin: 5rem;
    gap: 6rem;
    color: #CACACA;
}

.cards h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    justify-content: flex-start;
}

.cards img {
    max-height: 80%;
    max-width: 60%;
}

.cards__card-1, .cards__card-2, .cards__card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: space-evenly;
    background-color: #282828;
    border-radius: 1rem;
    padding: 4rem;
}

.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: 5rem;
    color: #CACACA;
}

.historia__banner img {
    width: 90%;
}

.historia__texto {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 1.5rem;
}

.historia__texto h2 {
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.historia__texto p {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 600;
}

.atributos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    margin: 5rem;
    padding: 3rem;
    color: white;
}

.atributos h2 {
    font-size: 2rem;
    text-align: center;
}

.atributos p {
    font-size: 1.4rem;
    font-weight: 500;
    min-height: 8rem;
    text-align: center;
}

.atributos img {
    width: 40%;
    align-self: center;
}

.atributos__column-1, .atributos__column-2, .atributos__column-3 {
    display: flex;
    max-width: 20%;
    flex-direction: column;
    gap: 1.2rem;
}

@media screen and (max-width: 1660px) {
    .atributos {
        flex-direction: column;
        padding: 1rem;
        margin: 5rem;
        gap: 3rem;
        max-width: 50%;
        justify-self: center;
    }

    .atributos p {
        min-height: auto;
    }

    .atributos img {
        width: 8rem;
        height: auto;
        
    }

    .atributos__column-1, .atributos__column-2, .atributos__column-3 {
        justify-content: center;
        gap: 2rem;
        background-color: #282828;
        padding: 4rem;
        border-radius: 30px;
        min-width: 100%;
    }
}

@media screen and (max-width: 1340px) {
    .cards {
        flex-direction: row;
        margin: 2rem;
        gap: 3rem;
    }

    .cards__card-1, .cards__card-2, .cards__card-3 {
        padding: 2rem;
    }
}

@media screen and (max-width: 1220px) {
    .historia {
        flex-direction: column-reverse;
        text-align: center;
        gap: 3rem;
        margin: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .historia__banner img {
        width: 70%;
    }

    .historia__texto {
        max-width: 90%;
    }
}

@media screen and (max-width: 980px) {
    .cards {
        flex-direction: column;
        margin: 2rem;
        gap: 2rem;
    }

    .cards img {
        width: 15%;
    }

    .cards__card-1, .cards__card-2, .cards__card-3 {
        flex-direction: row;
    }

    .atributos {
        gap: 3rem;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .cards {
        flex-direction: column;
        text-align: center;
    }

    .cards img {
        width: 50%;
    }

    .cards__card-1, .cards__card-2, .cards__card-3 {
        flex-direction: column;
        padding: 2rem;
    }

    .cards__card-1, .cards__card-2, .cards__card-3 {
        width: 100%;
        padding: 3rem;
    }
        
    .atributos {
        min-width: 90%;
    }

    .atributos__column-1, .atributos__column-2, .atributos__column-3 {
        padding: 2rem;
    }
}