<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/nav.css">
    <link rel="stylesheet" href="/src/styles/main.css">
    <title>Nav Component</title>
</head>
<body>
    <nav class="nav" id="nav">
        <div class="nav-1">
            <a class="nav-1__a" href="">Central do Cliente</a>
            <a class="nav-1__a" href="">Ouvidoria</a>
            <a class="nav-1__a" href="">2° via de Boleto</a>
            <a class="nav-1__a" href=""><img src="/src/assets/img/nav/icons/sun-icon.png" alt="Icone Sol"></a>
        </div>
        <div class="nav-2">
            <a class="nav-2__a" href="/pages/home.html"><img src="/src/assets/img/nav/logo.png" alt="Logo da HE=NET"></a>
            <a class="nav-2__a" href="/pages/planos-de-internet.html">Planos de Internet</a>
            <a class="nav-2__a" href="/pages/sobre-a-he-net.html">Sobre a HE-NET</a>
            <a class="nav-2__a" href="/pages/redes-sociais.html">Redes Sociais</a>
            <a class="nav-2__a" href="/pages/parceiros.html">Parceiros</a>
            <a class="nav-2__a" href="/pages/vagas.html">Vagas</a>
        </div>
        <div class="nav-3">
            <img class="nav-3__img" src="/src/assets/img/nav/main-banner.png" alt="Banner da HE=NET">
        </div>
    </nav>
</body>
</html>
